<template>
  <div class="polaroid">
    <img :src="data.image" :alt="data.name" />
    <div>{{ data.name }}</div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    data: Object,
  },

  mounted() {
    console.log("data", this.data);
  },
};
</script>

<style lang="scss" scoped>
$color--frame: lighten(#eaebe5, 5%);
$color--background: #006064;
$color--shadow: rgba(0, 0, 0, 0.54);
.polaroid {
  border: 1rem solid $color--frame;
  border-bottom: 5rem solid $color--frame;
  min-width: 18rem;
  height: 400px;
  min-height: 18rem;
  box-shadow: 1rem 1rem 1rem -0.5rem $color--shadow;
  margin: 10px;
  text-align: left;
  position: relative;

  img {
    height: 100%;
  }
}
</style>
