<template>
  <div v-for="d in apiData" :key="d.id">
    <Card :data="d" />
  </div>
</template>

<script>
import axios from "axios";
import Card from "./components/Card";

const apiUrl = "https://rickandmortyapi.com/api/character/1,2,3,4";

export default {
  name: "App",
  components: {
    Card,
  },
  data() {
    return {
      apiData: [],
    };
  },
  created() {
    axios.get(apiUrl).then((res) => {
      this.apiData = res.data;
      console.log("res", res.data);
    });
  },
};
</script>

<style lang="scss">
html,
body {
  margin: 0;
  background: grey;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
</style>
